/.history
/.vscode
/Adobe Premiere Pro Audio Previews
/Adobe Premiere Pro Auto-Save
/Adobe Premiere Pro Video Previews
/Main_schoo_1.mp4
/Motion Graphics Template Media
/school mamagent system 1.mp3
/school management system 2.mp3
/school managemmnt system.prproj
/school system 3.mp3
/school.prproj
/Sfondo4.png
/Stranger In the Way - RAGE.mp3
/Student management system2
/Student management system3
/student.jpg
/Untitled-1.jpg
/Untitled-1.psd